<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shamvelo - Leaderboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<h1>Leaderboard</h1>

{{#with leaderboard.year.[0]}}
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <tr><th>Jersey</th><th>Leader</th></tr>
      <tr><td>Yellow</td><td>{{distance.[0].athleteName}} ({{distance.[0].distance}} km)</td></tr>
      <tr><td>Dark Green (Monthly Points)</td><td>{{monthlyWins.[0].athleteName}} ({{monthlyWins.[0].wins}} pts)</td></tr>
      <tr><td>Light Green (Weekly Points)</td><td>{{weeklyWins.[0].athleteName}} ({{weeklyWins.[0].wins}} pts)</td></tr>
      {{#with longestRide}}
      <tr>
        <td>Ironman (Longest Ride)</td>
        <td>{{athleteName}} (<a href="https://www.strava.com/activities/{{activity.id}}">{{activity.name}}</a>)</td>
      </tr>
      {{/with}}
      <tr><td>Alley Cat (Fastest Average)</td><td>{{averageSpeed.[0].athleteName}} ({{averageSpeed.[0].averageSpeed}} km/h)</td></tr>
      {{#with fastestRide}}
      <tr>
        <td>VO2 Max (Fastest Average For Single Ride Over 10km)</td>
        <td>{{athleteName}} (<a href="https://www.strava.com/activities/{{activity.id}}">{{activity.name}}</a> - {{averageSpeed}} km/h)</td>
      </tr>
      {{/with}}
      <tr><td>Green Warrior (Most Number Of Rides)</td><td>{{activityCount.[0].athleteName}} ({{activityCount.[0].activityCount}} rides)</td></tr>
    </table>
  </div>
</div>
{{/with}}

<h2>Current Distance Details</h2>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Year ({{year}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Distance</th></tr>
          {{#each distance}}
          <tr><td>{{this.athleteName}}</td><td>{{this.distance}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0].month.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Month ({{month}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Distance</th></tr>
          {{#each distance}}
          <tr><td>{{this.athleteName}}</td><td>{{this.distance}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0].week.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Week ({{week}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Distance</th></tr>
          {{#each distance}}
          <tr><td>{{this.athleteName}}</td><td>{{this.distance}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
</div>

<h2>Current Speed Details</h2>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Year ({{year}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Average Speed</th></tr>
          {{#each averageSpeed}}
          <tr><td>{{this.athleteName}}</td><td>{{this.averageSpeed}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0].month.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Month ({{month}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Average Speed</th></tr>
          {{#each averageSpeed}}
          <tr><td>{{this.athleteName}}</td><td>{{this.averageSpeed}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0].week.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Week ({{week}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Average Speed</th></tr>
          {{#each averageSpeed}}
          <tr><td>{{this.athleteName}}</td><td>{{this.averageSpeed}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
</div>

<h2>Current Ride Details</h2>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Year ({{year}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Rides</th></tr>
          {{#each activityCount}}
          <tr><td>{{this.athleteName}}</td><td>{{this.activityCount}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0].month.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Month ({{month}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Rides</th></tr>
          {{#each activityCount}}
          <tr><td>{{this.athleteName}}</td><td>{{this.activityCount}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      {{#with leaderboard.year.[0].week.[0]}}
      <div class="panel-heading">
        <h3 class="panel-title">Week ({{week}})</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Rides</th></tr>
          {{#each activityCount}}
          <tr><td>{{this.athleteName}}</td><td>{{this.activityCount}}</td></tr>
          {{/each}}
        </table>
      </div>
      {{/with}}
    </div>
  </div>
</div>

{{#with leaderboard.year.[0]}}
<h2>Current Points Details ({{year}})</h2>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Monthly Points</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Points</th></tr>
          {{#each monthlyWins}}
          <tr><td>{{this.athleteName}}</td><td>{{this.wins}}</td></tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Weekly Points</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Athlete</th><th>Points</th></tr>
          {{#each weeklyWins}}
          <tr><td>{{this.athleteName}}</td><td>{{this.wins}}</td></tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>
{{/with}}



	<pre>{{leaderboardjson}}</pre>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>

