<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shamvelo - Athlete</title>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SL23R2Z45H"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SL23R2Z45H');
	</script>
</head>
<body>

<h1>{{athlete.firstname}} {{athlete.lastname}} ({{athlete.id}})</h1>
<form action="./{{athlete.id}}/refresh" method="POST">
	<input type="submit" name="btnRefresh" value="Refresh Athlete"/>
</form>
<form action="./{{athlete.id}}/refreshactivities" method="POST">
	<input type="submit" name="btnRefresh" value="Refresh Activities"/>
</form>
<a href="./{{athlete.id}}/activitiescsv">Download Activities</a>

</body>
</html>

