<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shamvelo - Home</title>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SL23R2Z45H"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SL23R2Z45H');
	</script>
</head>
<body>

<h1>Leaderboards</h1>
<ul>
	{{#each leaderboards}}
	<li><a href="leaderboard/{{this.code}}/year">{{this.name}}</a></li>
	{{/each}}
</ul>
<form action="./refreshallactivities" method="POST">
	<input type="submit" name="btnRefreshAllActivities" value="Refresh All Activities"/>
</form>


<h1>Registered Athletes</h1>
<ul>
	{{#each athletes}}
	<li><a href="./athlete/{{this.id}}">{{this.firstname}} {{this.lastname}}</a></li>
	{{/each}}
</ul>
<a href="register"><img src="./static/img/btn_strava_connectwith_orange.svg" alt="Connect with Strava"/></a>
<p><img src="./static/img/api_logo_pwrdBy_strava_horiz_gray.svg" height="auto" width="150px"></p>
</body>
</html>
