<div class="row g-4">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <i class="bi bi-trophy me-2"></i>Leaderboards
      </div>
      <div class="list-group list-group-flush">
        {{#each leaderboards}}
        <a href="leaderboard/{{this.code}}/year" class="list-group-item list-group-item-action d-flex align-items-center">
          <i class="bi bi-arrow-right-circle me-3 text-secondary"></i>
          <span>{{this.name}}</span>
        </a>
        {{/each}}
      </div>
    </div>

    <form action="./refreshallactivities" method="POST">
      <button type="submit" name="btnRefreshAllActivities" class="btn btn-outline-secondary w-100">
        <i class="bi bi-arrow-repeat me-2"></i>Refresh All Activities
      </button>
    </form>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <i class="bi bi-people me-2"></i>Registered Athletes
      </div>
      <div class="list-group list-group-flush">
        {{#each athletes}}
        <a href="./athlete/{{this.id}}" class="list-group-item list-group-item-action d-flex align-items-center">
          <i class="bi bi-person-circle me-3 text-secondary"></i>
          <span>{{this.firstname}} {{this.lastname}}</span>
        </a>
        {{/each}}
      </div>
    </div>

    <a href="register" class="btn btn-success w-100">
      <img src="/static/img/btn_strava_connectwith_orange.svg" height="28" alt="Connect with Strava" class="me-2">
      Connect with Strava
    </a>
  </div>
</div>
